<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand fw-bold" routerLink="/">
      <i class="bi bi-egg-fried me-2"></i>Food App
    </a>

    <!-- Toggle button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="bi bi-house-door me-1"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/menu']"
            routerLinkActive="active"
          >
            <i class="bi bi-menu-button-wide me-1"></i> Food Menu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="active"
          >
            <i class="bi bi-envelope me-1"></i> Contact
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/recipes']"
            routerLinkActive="active"
          >
            <i class="bi bi-book me-1"></i> Recipes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/recipes using rxjs']"
            routerLinkActive="active"
          >
            <i class="bi bi-book me-1"></i> Recipes rxjs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/CartItem Using Signal']"
            routerLinkActive="active"
          >
            <i class="bi bi-book me-1"></i> CartItem Signals
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/promobanner"
            routerLinkActive="active"
            >Banner for Promo</a
          >
        </li>
        <li></li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ordermodule/reorderhistory"
            routerLinkActive="active"
            >Lazy loading - history of Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ordermodule/orderlazyloading"
            routerLinkActive="active"
            >Order History using lazyload comp</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
