<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mt-5">
  <div class="container">
    <!-- Navbar links -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/menu']"
            routerLinkActive="active"
          >
            Food Menu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="active"
          >
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/recipes']"
            routerLinkActive="active"
          >
            Recipes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/recipes using rxjs']"
            routerLinkActive="active"
          >
            Recipes rxjs
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/CartItem Using Signal']"
            routerLinkActive="active"
          >
            CartItem Signals
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/promobanner"
            routerLinkActive="active"
            >Banner for Promo</a
          >
        </li>
        <li></li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ordermodule/reorderhistory"
            routerLinkActive="active"
            >Lazy loading</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ordermodule/orderlazyloading"
            routerLinkActive="active"
            >lazyload comp</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >User Registration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mdf" routerLinkActive="active"
            >MDF</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
